/* Base Styles-----------*/

body{
    background: linear-gradient(30deg, rgb(167, 69, 129), rgb(97, 97, 168), rgb(97,69,129));
    margin: 0;
    font:lem/1.25 "Helvetica Neue", Helvetics, Arial, Sans-serif;
}

a{
    Text-decoration:none;
    Color:rgb(48, 5, 42);
}

H1{
    Color:rgb(35, 35, 44);
    Letter-spacing:2px;
}

H2{
    Color:rgb(35, 35, 44);
    Letter-spacing:2px;
}

H3{
    Color:rgb(35, 35, 44);
    Letter-spacing:2px;
}
.header, .nav {
    display: flex;
    flex-direction: row;
  }
  
  .header{
    justify-content: space-between;
  }
  /* Psuedo Classes--------*/

  a:link {
    color:rgb(173, 114, 173);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(125, 26, 138);
  }
  
  a:hover {
    color: rgba(89, 5, 105, 0.4);
  }
  
  a:active {
    color: rgb(7, 21, 58);
  }

  /*Main Styles------*/  
.title{
  color: rgba(rgb(228, 11, 228), rgb(67, 20, 73), rgb(10, 10, 71), alpha);
  font-size: 18px;
  font-style: italic, helvetica;
}  
  .intro {
    font-size: 1.25em; /* 20px/16px */
    line-height: 1.6;  
  }
  
  .main-header{
    background-color:rgb(80, 5, 67);
    padding: top 1.5;
    background-repeat: no-repeat;
    background-position:left;
    }
    .title{
        color:black;
        font-size:1.625rem;
    }
    
    .primary-content,
    .main-header,
    .main-footer{
        text-align:center;
    
    }
  .main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 10px solid #4a3488;
  }
  
  .t-border {
    border-top: 2px solid #4a3488;
  }

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #cc07f3;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}
/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 60%;
  margin: auto;
}